.listPanel {
  width: 29%;
  height: 98%;
  overflow: scroll;
  position: absolute;
  padding: 5px;
}

.rc-tree-node-selected{
  background-color: inherit;
  border: inherit;
  opacity: inherit;
  font-weight: 600;
  color: #316ac5;
}
