
.player {
  display: grid;

  grid-template-columns: auto 20%;
  grid-template-rows: auto 30px;
  justify-content: space-between;

  border-bottom: 1px solid #6c6c6c;
  overflow: hidden;
  padding: 5px;
}

.metaData{
  grid-column: 1;
  grid-row: 1 ;
}

.metaData span:nth-child(2){
  margin-left: 10px;
  font-weight: 600;
}

.volume{
  grid-column: 2;
  grid-row: 1 ;
  padding-right: 10px;
}

.seeker{
  grid-column: 1 / span 2;
  grid-row: 2 ;

  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto;
}

.now{
  grid-column: 1;
}

.rail{
  grid-column: 2;
}

.total{
  grid-column: 3;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton{
  font-size: 20px;
  cursor: pointer;
}
